/* 

color palette
Backkground: #DBE5FB;
Button: #477AEB;
Text: #020712;



Grayed out text : opacity 40%
Button fav : opacity 10%
Theme : opacity 80%

Font Inter :

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

font-family: "Inter", sans-serif;

*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #DBE5FB;

    font-family: "Inter", sans-serif;
}

/* CONTAINER */

.container-card {
    width: 825px;
    height: 372px;
    margin-top: 25vh;
    padding: 45px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

}

/* IMAGE */

.img-product {

    box-sizing: border-box;
    padding-right: 40px;
    align-self: center;
    flex: 6rem;
}

/* INFORMATIONS CARD */

.card-header {
    display: flex;
    justify-content: space-between;

}

/* INFOS THECH */

.theme-product {
    width: 80px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #020712;
    opacity: 80%;
    color: white;

    border-radius: 60px;
}

.title-product {
    font-size: 35px;
    font-weight: semibold;

}

.number-product {
    font-size: 15px;
    font-weight: 400;
    color: #020712;
    opacity: 40%;
}

.note-product {
    display: flex;

}

.star-icone {
    width: 15px;
}

.note {
    margin-left: 20px;
}