/* 

color palette
Backkground: #DBE5FB;
Button: #477AEB;
Text: #020712;


Price barré : opacity 60%
Button fav : opacity 90%

Font Inter :

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

font-family: "Inter", sans-serif;

*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #DBE5FB;

    font-family: "Inter", sans-serif;
}

.container-card {

    width: 800px;
    height: 500px;

    margin-top: 30vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

    background-color: white;
    
    border-radius: 20px;
}
