/* 

color palette
Backkground: #DBE5FB;
Button: #477AEB;
Text: #020712;



Grayed out text : opacity 40%
Button fav : opacity 10%
Theme : opacity 80%

Font Inter :

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

font-family: "Inter", sans-serif;

*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #DBE5FB;

    font-family: "Inter", sans-serif;
}

/* CONTAINER */

.container-card {
    width: 739px;
    height: 347px;
    
    margin-top: 25vh;
    padding: 45px;

    display: flex;
    align-items: stretch;
    justify-content: space-between;

    background-color: white;

    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

/* IMAGE */

.img-product {

    width: 62%;
    height: 100%;

    box-sizing: border-box;
    padding-right: 40px;
    align-self: center;
    
}

/* CARD HEADER */

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 12px;

}

/* INFOS TECH HEADER */

.theme-product {
    width: 74px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #020712;
    opacity: 80%;

    border-radius: 60px;
}

.text-theme-product {
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.title-product {
    font-size: 35px;
    font-weight: semibold;

}

.number-product {
    font-size: 13px;
    font-weight: 400;
    color: #020712;
    opacity: 40%;
}

/* NOTE */

.note-product {
    display: flex;
    align-items: center;

    padding-top: 12px;

}

.star-icone {
    width: 15px;
}

.note {
    margin-left: 20px;

    font-size: 13px;

    color: #020712;
    opacity: 40%;
}

/* PRICE */

.old-price-product {
    text-decoration: line-through;

    color: #020712;
    opacity: 40%;
}

.new-price-product {
    font-size: 57px;
    font-weight: 700;

    padding-top: 5px;
}

/* BUTTON */

.btn-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-buy {

    width: 252px;
    height: 50px;

    padding-right: 15px;

    border: none;

    border-radius: 10px;

    background-color: #477AEB;

    color: white;

    font-size: 18px;

    transition-duration: 0.3s;
}

.btn-buy:hover {
    cursor: pointer;
    background-color: rgba(71, 122, 235, 0.5);
    
    border: solid 2px #477AEB;
}

.btn-buy:active {
    background-color: transparent;
    border: solid 2px #477AEB;

    color: #020712;
}

.btn-favoris {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border: none;

    border-radius: 10px;

    background-color: rgba(2, 7, 18, 0.06);
}

.heart-icone {
    width: 27px;
    height: 27px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
    .container-card {

        width: 320px;
        height: 700px;

        margin-top: 10vh;

        flex-direction: column;
    }

/* IMAGE */

    .img-product {
        width: 100%;
        height: auto;

        padding: 0 0 20px 0;
    }

/* CARD HEADER */

    .card-head {
        padding-bottom: 50px;
    }

/* PRICE */

    .price {
        padding-bottom: 50px;
    }

}